.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.left-pane {
  flex: 0 0 64%; /* Takes 64% of the width */
  height: 100vh;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}

.proposal-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.proposal-card {
  width: 100%; /* Take full width of the container */
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;
  background-color: #f8f8f8;
}

.proposal-card-content {
  width: 100%;
}

.right-pane {
  flex: 0 0 30%; /* Takes 30% of the width */
  height: 100vh; /* Full height */
  padding: 2%; /* Responsive padding */
  margin-right: 2%;
  background-color: #d6d3c4;
  box-sizing: border-box;
  overflow-y: hidden; /* Disable scroll on the main right-pane */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-pane-content {
  overflow-y: auto; /* Set scroll on the content area */
  flex-grow: 1; /* Allow it to grow and take available space */
}

.pagination-container {
  padding: 10px 0;
  background-color: #d6d3c4;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10%; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  width: 100%;
}


/* Header Area styling */
.header-area {
  width: 100%; /* Full width */
  height: 10%; /* Height as a proportion of viewport height */
  background-color: #add8e6; /* Light blue header */
  text-align: center;
  line-height: 100px; /* Adjust based on your needs */
  font-size: 2vw; /* Responsive font size */
  margin: 0 auto; /* Center the header */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Stack the panes vertically */
    height: auto; /* Allow the container to grow with content */
  }
  .left-pane,
  .right-pane {
    flex: 0 0 100%; /* Full width for both panes */
    margin-left: 0; /* Remove left margin */
    margin-right: 0; /* Remove right margin */
    height: auto; /* Allow flexible height for stacking */
  }
  .pagination-container {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .left-pane,
  .right-pane {
    padding: 5%; /* Adjust padding for smaller devices */
  }
}

@media (max-width: 480px) {
  .header-area {
    font-size: 4vw; /* Further adjust font size for small screens */
    line-height: 60px; /* Adjust line height */
  }
  .pagination-container {
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Adjust padding for smaller screens */
  }
}