.container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .left-pane {
    width: 50%;
    height: 100vh; /* Take full height of viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the top */
  }
  
  .right-pane {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }