.proposal-card {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%; /* Full width */
  transition: max-height 1000s ease, padding 1000s ease; /* Smooth expansion */
  overflow: hidden;
}

.proposal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proposal-card-body {
  padding: 10px;
}

.resume-icon {
  color: #007bff;
}

.proposal-action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}